/*
*userSearcher
*/
.userSearcher{
  .userSearcher_inner{
    &-seachText{
      float: left;
      width: 50%;
      padding: 2%;
    }
    &-seachGroup{
      float: left;
      width: 28%;
      padding: 2%;
    }
    &-addUser{
      float: left;
      width: 8%;
      padding: 2%;
    }
  }
}
.seachIcon{
  position: absolute;
  top: 10px;
  left: 8px;
}

/*
/userSearcher end
*/
